<%= render 'submit_modal' %>
<%= render 'users/signup_modal' %>
<%= render 'sessions/signin_modal' %>

<div class="row">
  <div class="span10 offset1">
    <ol id="posts" class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
  </div>
</div>
