<div class="container">
  <div class="row">
    <div class="span10 offset1">
      <div class="pull-left">
        <% if signed_in? %>
          <a href="#submit-modal" role="button" data-toggle="modal"  class="left anchor-button-medium pomegranate rounded1">
            SUBMIT
          </a>
        <% else %>
          <%= link_to "Submit", new_post_path, class: "left anchor-button-medium pomegranate rounded1" %>
        <% end %>
        <%= link_to "newsmakerPH", root_path, id: "logo" %>
      </div>
      <div class="pull-right">
        <div class="btn-group">
          <% if signed_in? %>
            <%= link_to user_path(current_user), class: "anchor-button-narrow asbestos rounded1" do %>
              <i class="icon-large icon-user"></i>
            <% end %>
            <%= link_to signout_path, method: "delete", class: "anchor-button-narrow concrete rounded1" do %>
              <i class="icon-large icon-signout"></i>
            <% end %>
          <% else %>
            <%= link_to signin_path, class: "anchor-button-narrow concrete rounded1" do %>
              <i class="icon-large icon-signin"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
